*{
	box-sizing: border-box;
}
body{
	display:flex;
	justify-content: space-between;
	background-color: #f6f6f6;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.card{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1010px;
	height: 502px;
	background-color: #fff;
	border: 1px solid #e4e4e4;
}

p{
	margin-top: 0;
	margin-bottom: 0;
}
.card-product{
	display: flex;
	position:relative;
	max-width:50%	
	margin-top: 70px;
	margin-left: 105px;
	width: 256px;
	height: 360px;
	vertical-align: top;
}
.img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.description{
	display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: left;
	width: 400px;
	margin-left: 160px;
	margin-top: 90px;
	vertical-align: top;
	font-size: 15px;
}
button{
	width: 250px;
	height: 50px;
	background-color: #ec744a;
	color: #fff;
	text-align: center;
	line-height:50px;
	border: none;
	outline: none;
}
.description .card-name{
	font-weight: bold;
	font-size: 23px;
}
.size{
	font-size: 30px;
	margin-top: 23px;
	margin-bottom: 36px;
}
.size-19{
	font-size: 19px;
}
.msg{
	margin-top: 30px;
	margin-bottom: 55px;
}