.body{
  color: #2f2f2f;
  font-family:"Arial-MT", sans-serif;
  background-color:#f6f6f6;

}
.container{
  margin:auto;
  width: 1200px;
  height: 675px;
  border:1px solid #e4e4e4;
}
.card{
  display:flex;
  width: 1010px;
  height: 503px;
  border: 1px solid #d7d7d7;
  margin:86 95 86 95;
 }
.headphones{
  margin-top: 64px;
  margin-right: 99px;
  margin-bottom: 64px;
  margin-left: 48px;
}
.img{
  width: 376px;
  height: 375px;
}

.card-text{
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 94px;
  margin-right: 93px;
  margin-bottom: 81px;
}

.title{
  font-family: "Arial - Bold MT";
  font-size: 23px;
  }
  .subtitle{
    font-size: 15px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 55px;
  }
 
  .price-title{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 23px;
  }
  .price-subtitle{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 56px;
  }
  button{
    display:block;
    width: 252px;
    height: 50px;
    background-color: #ec744a;
    margin-bottom: 81px;
    margin-top: 56px;

  }
  .size-19{
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 19px;
    font-weight: 400;
    text-align: center;

  }



