
.body{
	background-color: #ffffff;
	font-family: "Tahoma" sans-serif;
	color: #333333;
}
.container{

	padding-right: auto;
	padding-left: auto;
	margin-right: auto;
	margin-left: auto;
}
	}
.h1{
	display:block;
	}
.title{
	text-align: center;
	color: #333333;
	font-family: Tahoma;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 70px;
	padding-bottom: 82px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	text-align: center;
}
.row-privilage{
	margin-top: 82px;
}
.privilage{
	align-items: center;
	margin-right: 65px;
	margin-bottom: 97px;
}
.ico{
	display:box;
	margin-bottom: 21px;
}
.descriptiov{
	font-size: 16px;
	font-weight: 700;

}