*{
    box-sizing:border-box;
}

.body{
    font-family: sans-serif;
    color:#32325f;
.hero{
    padding-top: 70px;
    padding-bottom: 190px;
    background-color:#f4f5f7;
}
}
.container{

    width:96%;
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    display:flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.brand{
    color:95989a;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.social{
    text-decoration: none;
    margin-right:20px ;
}
.main{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
    width: 50%;

}
.subtitle{
    font-size: 20px;
    font-weight: 400;
    display:block;
    margin-bottom: 15px;
}
.title{
    font-size: 48px;
    font-weight: 700;
    display:block;
    margin-bottom: 26px;
}
.description{
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 16px;
}
.price-tag{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    display:block;
}
.price{
    display:block;
    margin-bottom: 49px;
    font-size: 48px;
    font-weight: 400;
}
.btn{
    text-decoration: none;
    box-shadow:0 3px 6px rgba(173, 173, 173 0.16);
    padding: 20px 30px;
    color: #ffffff;
    background-color: grey;
}
.btn-success{
    background-color: #2dce89;
    margin-right: 20px;
}
.btn-primary{
    background-color:#5e72e4;
}
.section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-subtitle{
    display:block;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
}
.section-title{
    display:block;
    font-size: 20px;
    font-weight: 700;
    }
.wrap{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 100px;
}
.block{
    width: 23%;
    margin-right: 2%;
}
.block-text{
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0;
    line-height: 1.4;
}
    <!--насторйка секции peple -->

.people{
    background-color: #f4f5f7;
   }
.people-subtitle{
    font-size: 20px;
    font-weight: 400;
    display:block;
    padding-bottom: 26px;
}
.people-title{
    font-size: 48px;
    font-weight: 700;
    display:block;
    padding-bottom: 64px;
}
.pictures{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding-bottom: 112px;
    width: 1142px;
    height: 544px;

}

.humans-buys{
    width: 362px;
    height: 255px;
}

    <!--насторйка секции peple -->

.footer{
    background-color: #32325f;
    color:white;
    padding-top: 70px;
    padding-bottom: 70px;
    }
.footer-wrap{
    display:flex;
    justify-content: space-between;
}
.wrap{
    display:flex;
    justify-content: space-between;
}
.footer-block{
    width: 33%;
}
.footer-title{
    font-size: 24px;
    font-weight: bold;
    margin-top: 35px;
}
.footer a{
    display:block;
    color: #ffffff;
    margin-bottom: 10px;
}
.footer p{
    line-height: 1.4;
}