body {


	font-family: 'Lobster', cursive;

	font-family: 'Rubik', sans-serif;

}

.introduction{
	font-family: Rubik;
	font-size: 18px;
	font-style: italic;
	}


.blok{
	width: 350px;
	height: 320px;
	border: 5px solid darkred;
	background-color: #225e96;
	padding-top: 10px; 
	padding-bottom: 10px;
	column-count: 1.5;
	font-style: italic;
	font-size: 15px;
	white;
	font-decoration: underline;
	
}

h1{
	font-size: 36px;
	line-height: 24px;
	font:font color: black;
	font-weight: bold;
	font-style: italic;
	display:block;
	text-align:left; 
}

h2{
	font-family: "Lobster";
	font-style: italic, ;
	font-color: darkslategray;
}

h3{
	font-style: italic; 
	font-color: black;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-top: 0px;
}

p {
	font-color: black;
	font-style: normal;
	font-size: 20px;

}
.note {
	font-family:  "Noto Sans Old Italic";
	font-color: #800000;
	font-size: medium;
}

.footer{
font-style: bold;
font-size: 15px;
}




