body{
font-family: arial, Verdana, "Rubik", sans-serif;
};
 <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"> 

.introduction{
	font-family: Rubik;
	font-width: 400;
	font-size: 18px;
	font-style: oblique;
	font-color: black;
	};


.blok{
	width: 350px;
	height: 350px;
	border: 1px;
	border-color: grey;
	background-color: #225e96;
	padding-top: 10px; 
	padding-bottom: 10px;
	background-color: #225e96;
	-webkit-column-count:1.5
	column-count: 1.5;
	font-style: italic;
	font-weight:400; 
	font-size: 15px;
	font-color:white;
	
}; 

h1{
	font-size: 36px;
	line-height: 24px;
	font:font color: black;
	font-weight: bold;
	font-style: italic;
	display:block;
	text-align:left; 
	

};

h2{
	font-family: Rubik;
	font-style: bold;
	font-color: darkslategray;
};
h3{
	font-style: italic; 
	font-color: black;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-top: 0px;
};

p{
font-color: black;
font-style: normal;
font-size: 20px;
line-height: 20;
text-decoration: none;
text-indent: 1.5px;
};

.end{
font-style: bold;
};




